<%- include('parts/header.ejs') %>

    <br><br><br><br><br><br>

    <div class="container">

        <form method="POST" action="/login">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <input type="email" name="email" id="form1Example1" class="form-control" placeholder="Email.." />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="form1Example2" class="form-control" placeholder="Password.." />
            </div>

            <% if (messages) { %>
                <div class="alert alert-danger" role="alert">
                    <%= messages %>
                </div>
                <% } %>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>

    </div>



    <%- include('parts/footer.ejs') %>